@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_img{
  width: 100vw;
  height: 50vh;
  /* border-radius: 15px; */
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: -1; */
  
}

.findthe{
  font-family: sans-serif;
}

/* */

/* .avatar{
  width: 25vw;
  height: 10vh;
  position: relative;
  z-index: 2;
  left: 20;
} */

.restaurant_icon{
  border-radius: 10px;
  max-height: 15vh;
}

/* .bluebar{
  height:35rem;
} */

/* .p_food{
  height: 380px;
  width: 100%;
} */

/* .food_sub{
  height: 50vh;
  width:60vh;
  margin-top: 1.75rem
} */

.map-container{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 500px){
  .hero_img{
    height: 30vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

