@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_img{
  width: 100vw;
  height: 50vh;
}

/* .avatar{
  width: 25vw;
  height: 10vh;
  position: relative;
  z-index: 2;
  left: 20;
} */

@media screen and (max-width: 500px){
  .hero_img{
    height: 40vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

